.photographer-header {
    background-color: #FAFAFA;
    padding: 50px;
    margin: 0 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographer-header h2 {
    color: #d3573c;
    font-weight: 400;
    font-size: 64px;
}

.photographer-header .place {
    color: #901c1c;
    font-weight: 400;
    font-size: 24px;
}

.photographer-header .tagline {
    color: #525252;
    font-weight: 400;
    font-size: 18px;
}

.photographer-header img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}