.insertBox {
    position: fixed;
    bottom: 0;
    right: 50px;
    background-color: #DB8876;
    padding: 20px 50px;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px 10px 0 0;
}

.contact-modal {
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form label {
    color: #312E2E;
    font-size: 36px;
}

.contact-form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
    outline: none;
}

.contact-form input:invalid {
    border: 3px solid red;
    color: red;
}

.contact-form textarea {
    resize: none;
    width: 100%;
    height: 175px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    outline: none;
}

.contact-form textarea:invalid {
    border: 3px solid red;
    color: red;
}

.contact-form button {
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:disabled {
    opacity: 0.5;
}

.contact-form .succes-message {
    color: #312E2E;
    font-size: 36px;
    text-align: justify;
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}