.profile-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-card a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.profile-card a:focus {
    outline: none;
    border-radius: 10px;
    background-color: #eeeeee;
    z-index: 1;
    width: 400px;
}

.profile-card a:focus > img {
    scale: 1.2;
    rotate: 24deg;
}

.profile-card a:focus > h2 {
    scale: 1.1;
    font-weight: bolder;
}

.profile-card a:hover > img {
    scale: 1.2;
    rotate: 24deg;
}

.profile-card a:hover > h2 {
    scale: 1.1;
    font-weight: bolder;
}

.profile-card img {
    z-index: -1;
    transition: rotate 250ms, scale 250ms;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.profile-card h2 {
    transition: scale 250ms;
    color: #D3573C;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

.profile-card .place {
    color: #901C1C;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}

.profile-card .tagline {
    font-weight: 400;
    font-size: 10px;
    text-align: center;
}

.profile-card .price {
    color: #757575;
    font-weight: 400;
    font-size: 9px;
    text-align: center;
}